# prod
dj-database-url==0.5.0
django==3.0
django-countries==6.1.3
djangorestframework==3.11.0
dj-database-url==0.5.0
gunicorn==19.9.0
whitenoise==5.0
django-jazzmin==2.2.7   # admin site extension
django-storages==1.10   # collection of custom storage backends
boto3==1.14.52  # Python SDK for AWS
botocore==1.17.52   # boto dependency

# dev and test
black==19.3b0
flake8==3.7.7
isort==4.3.20
MarkupSafe==1.1.1
pycodestyle==2.5.0
python-slugify==4.0.0
readme-renderer==26.0
